@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainButton {
  @apply text-white text-2xl font-semibold py-5 px-16 rounded-md cursor-pointer hover:opacity-80 active:opacity-70 transition duration-300;
}

.floatContent {
  @apply bg-white shadow-2xl h-auto rounded-3xl p-5 w-[22rem] flex gap-4;
}

#pagination .left{
    width: 0.5em;
    height: 0.5em;
    border-left: 0.1em solid #5B5B5B;
    border-bottom: 0.1em solid #5B5B5B;
    transform: rotate(45deg);
}

#pagination .right {
    width: 0.5em;
    height: 0.5em;
    border-right: 0.1em solid #5B5B5B;
    border-top: 0.1em solid #5B5B5B;
    transform: rotate(45deg);
}